.jumbotron.quote
  .media
    img.media-object(src='{{quote.book.image_url}}')
    h3.media-heading {{quote.book.title}}
    p {{quote.book.author.name}}
    form(ng-submit='quote.submit()')
      .form-group
        textarea#quote-body.form-control(autofocus, ng-required='true', ng-model='quote.body', ng-maxlength=4000, rows=10)
          .btn-toolbar.pull-right
            button.btn.btn-primary(type='submit') Save
            button.btn.btn-default(type='button', ng-click='quote.goBack()') Cancel
