.container
  .row
    .col-md-12
      .media
        .media-left
          img.media-object(src='{{quote.book.image_url}}')
        .media-body
          h4.media-heading {{quote.book.title}}
          p {{quote.book.author.name}}
