a.btn.btn-default.btn-lg(ng-hide='OauthButtons.isLoggedIn()', ng-click='OauthButtons.loginOauth("goodreads")')
  i.fa.fa-plug
  |  Connect with Goodreads

a.btn.btn-default.btn-lg(ng-show='OauthButtons.isLoggedIn()', ui-sref='search')
  i.fa.fa-search
  |  Search Goodreads
