div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='navbar.isCollapsed = !navbar.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') sozizi

    div#navbar-main.navbar-collapse.collapse(uib-collapse='navbar.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in navbar.menu', ui-sref-active='active')
          a(ui-sref='{{item.state}}') {{item.title}}
        li(ui-sref-active='active')
          a(ng-if='navbar.isLoggedIn()', ui-sref='archive') Archive

      ul.nav.navbar-nav.navbar-right
        li(ng-show='navbar.isLoggedIn()')
          p.navbar-text Hello {{ navbar.getCurrentUser().name }}
        li(ng-if='navbar.isBookExists()', ng-class='{active: navbar.$state.includes("quotes.add")}')
          a(ui-sref='quotes.add({book: navbar.getLastBook()})') Add Quote
        li(ng-show='navbar.isLoggedIn()')
          a(ui-sref='logout') Logout
