.jumbotron.text-center
  h1 Welcome to sozizi!
  p A place where the words leave traces...
  oauth

.info
  .row
    .col-md-12.text-center.small
      p Developed with&nbsp;
        a(href='http://angular-fullstack.github.io/generator-angular-fullstack/', target='_blank')
          | Angular Full-Stack
      p
        a.btn.btn-default.btn-sm(href='https://github.com/kemalersin/sozizi/', target='_blank')
          i.fa.fa-github
          |  Completely open source

