body {
  padding-top: 100px;
}

.info {
  margin: 75px 0;
}

a.text-default {
  color: inherit;
  text-decoration: none;
}

a.box-delete {
  top: 0;
  right: 0;
  padding: 0;
  width: 24px;
  font-size: 28px;
  line-height: 22px;
  position: absolute;
}

a.box-delete:before {
  content: "×";
}

blockquote {
  font-size: 1.2em;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s ease-in-out;
}

.headroom--unpinned {
  top: -100px;
}

.headroom--pinned {
  top: 0;
}

.fadeout.ng-leave {
  animation: fadeout_animation 0.5s linear;
  -webkit-animation: fadeout_animation 0.5s linear;
}

@keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

